.task-manager {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  padding:20px;
  background-color: gray;
}

form {
  display: flex;
  gap: 10px;
}

input,
select,
button {
  padding: 10px;
  background-color: darkgray;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

button {
  margin-left: 5px;
}